<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Register New Account</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
<form action="/api/register/" method="POST">
    Username:<br>
    <input type="text" name="user_name" required><br>
    Password:<br>
    <input type="password" name="password" required><br>
    Repeat Password:<br>
    <input type="password" name="repeat password" required><br>
    <br>
    <button type="submit">Register</button>
</form>
<p id="alert" class="alert">{{pass_message}}</p>
<script>
    var hiddenP = document.getElementById("alert").innerHTML;
    if(hiddenP !== "")  alert(hiddenP);
</script>